body, html {
  height: 100%; /* Ensure the body and html are full height */
  margin: 0; /* Remove default margin */
  background-color: black;
  color: aliceblue;
}
.App{
  text-align: center;
}
*{
  box-sizing: border-box;
}
.ticket_board{
  display: flex;
}
.ticket{
  width: 95%;
  height: 50px;
  border: 2px solid grey;
  cursor: pointer;
  justify-content: center;
  display: flex;
  margin-right: 2%;
  margin-left:2%;
  background:#202e38;
  border-radius:12px;
  
}
.ticket_state{
  width: 50px;
  border: 3px solid black;
  height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
  background-color: grey;
  border-radius: 12px;
}
.tickets_container{
  height: 80vh;
  border: 1px solid #202e38;
  flex-direction: column;
  display: flex;
}